In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df_catalog = pd.read_csv('catalog.csv',encoding="ISO-8859-1")
df_catalog.head()

,prod_id,prod_name,department_id,price
0,36235,Organic Pure Extra Virgin Coconut Oil,13,12.02
1,24879,Pepperidge FarmÂ® Goldfish Queso Fiesta Baked ...,19,4.17
2,37062,Pineapple Coconut Water Enhancer,7,8.77
3,7770,Quick-Tie Tall Kitchen Bags Gallon - 35 CT,17,3.56
4,14435,Bowl Blaster Toilet Bowl Cleaner,17,5.59

In [4]:
df_transactions = pd.read_csv('10000_transactions.csv',encoding="ISO-8859-1")
df_transactions.head()

,order_number,product_id,customer_id,product_name,department_id,price
0,2,33120,202279,Organic Egg Whites,16,5.33
1,5,48370,156122,Sensitive Toilet Paper,17,9.33
2,7,46802,142903,Pineapple Chunks,1,6.76
3,10,3464,135442,"Organic Butterhead (Boston, Butter, Bibb) Lettuce",4,9.00
4,10,25720,135442,Organic Sunchoke,4,10.06

In [5]:
len(set(df_transactions['product_id']))

2218

In [6]:
df_products = df_transactions['product_id']
df_products.head()

0    33120
1    48370
2    46802
3     3464
4    25720
Name: product_id, dtype: int64